# GoDaddy Linux / cPanel Apache hosting
DirectoryIndex index.html
AddDefaultCharset UTF-8
ErrorDocument 404 /404.html
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^hakkinda/?$ hakkinda.html [R=301,L,NE]
RewriteRule ^kisaca\-dedak/?$ kisaca-dedak.html [R=301,L,NE]
RewriteRule ^amac\-misyon\-degerler/?$ amac-misyon-degerler.html [R=301,L,NE]
RewriteRule ^dedak\-kalite\-politikasi/?$ dedak-kalite-politikasi.html [R=301,L,NE]
RewriteRule ^dedak\-kalite\-politikası/?$ dedak-kalite-politikasi.html [R=301,L,NE]
RewriteRule ^dedak\-paydas\-tablosu/?$ dedak-paydas-tablosu.html [R=301,L,NE]
RewriteRule ^dedak\-paydaş\-tablosu/?$ dedak-paydas-tablosu.html [R=301,L,NE]
RewriteRule ^dedak\-i\-c\-kalite/?$ dedak-i-c-kalite.html [R=301,L,NE]
RewriteRule ^dedak\-i\-ç\-kalite/?$ dedak-i-c-kalite.html [R=301,L,NE]
RewriteRule ^kurucu\-kurul/?$ kurucu-kurul.html [R=301,L,NE]
RewriteRule ^i\-ktisadi\-i\-sletme/?$ i-ktisadi-i-sletme.html [R=301,L,NE]
RewriteRule ^i\-ktisadi\-i\-şletme/?$ i-ktisadi-i-sletme.html [R=301,L,NE]
RewriteRule ^organizasyon\-semasi/?$ organizasyon-semasi.html [R=301,L,NE]
RewriteRule ^idari\-kadro/?$ idari-kadro.html [R=301,L,NE]
RewriteRule ^stratejik\-plan/?$ stratejik-plan.html [R=301,L,NE]
RewriteRule ^akreditasyon/?$ akreditasyon.html [R=301,L,NE]
RewriteRule ^akreditasyon\-faaliyetleri\-raporu/?$ akreditasyon-faaliyetleri-raporu.html [R=301,L,NE]
RewriteRule ^dil\-akreditasyonu\-nedir/?$ dil-akreditasyonu-nedir.html [R=301,L,NE]
RewriteRule ^akreditasyon\-basvurusu/?$ akreditasyon-basvurusu.html [R=301,L,NE]
RewriteRule ^akreditasyon\-başvurusu/?$ akreditasyon-basvurusu.html [R=301,L,NE]
RewriteRule ^akreditasyon\-ucretleri/?$ akreditasyon-ucretleri.html [R=301,L,NE]
RewriteRule ^akreditasyon\-ücretleri/?$ akreditasyon-ucretleri.html [R=301,L,NE]
RewriteRule ^akreditasyon\-surecinde\-olan\-kurumlar/?$ akreditasyon-surecinde-olan-kurumlar.html [R=301,L,NE]
RewriteRule ^akreditasyon\-sürecinde\-olan\-kurumlar/?$ akreditasyon-surecinde-olan-kurumlar.html [R=301,L,NE]
RewriteRule ^dedak\-olcutler/?$ dedak-olcutler.html [R=301,L,NE]
RewriteRule ^dedak\-ölçütler/?$ dedak-olcutler.html [R=301,L,NE]
RewriteRule ^akreditasyon\-sureci/?$ akreditasyon-sureci.html [R=301,L,NE]
RewriteRule ^akreditasyon\-süreci/?$ akreditasyon-sureci.html [R=301,L,NE]
RewriteRule ^akredite\-edilen\-programlar/?$ akredite-edilen-programlar.html [R=301,L,NE]
RewriteRule ^about\-3\-6/?$ about-3-6.html [R=301,L,NE]
RewriteRule ^uyelik/?$ uyelik.html [R=301,L,NE]
RewriteRule ^belgeler/?$ belgeler.html [R=301,L,NE]
RewriteRule ^about\-3/?$ about-3.html [R=301,L,NE]
RewriteRule ^about\-3\-1/?$ about-3-1.html [R=301,L,NE]
RewriteRule ^about\-3\-2/?$ about-3-2.html [R=301,L,NE]
RewriteRule ^about\-3\-4/?$ about-3-4.html [R=301,L,NE]
RewriteRule ^about\-3\-3/?$ about-3-3.html [R=301,L,NE]
RewriteRule ^sunumlar\-ve\-yayinlar/?$ sunumlar-ve-yayinlar.html [R=301,L,NE]
RewriteRule ^sunumlar\-ve\-yayınlar/?$ sunumlar-ve-yayinlar.html [R=301,L,NE]
RewriteRule ^duyurular/?$ duyurular.html [R=301,L,NE]
RewriteRule ^galeri/?$ galeri.html [R=301,L,NE]
RewriteRule ^iletisim/?$ iletisim.html [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_e75dbdfc0a254fac934aeac36b16a1bc\.pdf$ documents/d78505f0a94c7851.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_ca79fe310177472590f06965ad9bc257\.pdf$ documents/89c5c789a1a8c406.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_30d0273a46c7438686d6a188189b1b47\.pdf$ documents/5a54572be58d3dda.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_b5f352bb50df4d528b2ca9447161cfd9\.pdf$ documents/94765a3df2a3c7ac.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_cb0976a249d04c4b85bd21d3fc019157\.pdf$ documents/323cef210d9365c0.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_da961a617e404653bfa7900cda62ba43\.pdf$ documents/16625b18950020ed.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_bc3b5863b81c4f37ac726419618b70cc\.docx$ documents/5aa9cf916cbed885.docx [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_10b599c2f42145b2a29331f211624569\.pdf$ documents/a98c67cefa9cbabf.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_c5bed90217dc47459b5e34b3634bcb55\.pdf$ documents/ba3a5a2e0a3e2b25.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_ac14cd46baa9428298a93c9912972193\.docx$ documents/64b4dab947a2d6b3.docx [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_0ae8333a2e7f465ba360cd16ed822b77\.pdf$ documents/9a3d8abd2535e82f.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_5463c6205ac24b0183f94e39ee567acb\.pdf$ documents/8bcc650bc0ab7871.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_430d9a564a6c43f499351d867ee2116e\.pdf$ documents/e81635130f3de3b9.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_3299097b1bac4c979afa0351ef9a8d80\.pdf$ documents/d9598dfaa5a3ea1b.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_76774c4510224c1c8d99113e3f42bec4\.pdf$ documents/cf47cae9b6c2c270.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_540e2d70c85547639e9428398e170aaa\.pdf$ documents/6b7637fe8ae612ec.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_f65b49a2cbaf45379f8e4f4c3300d9a3\.pdf$ documents/b64196f0b67e4571.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_fcdc5b7be03846d5a5d782c76f8bef38\.pdf$ documents/5f405ae6e3849bc4.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_0a3ba4eed13a4f9db96efa6dec0273c6\.pdf$ documents/80517fca1cd44422.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_8014ce19856b4e97b4535a390f482c02\.pdf$ documents/5c79d41cc8085c1b.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_3375b7dfbca0451a83b1fc7a1596b757\.pdf$ documents/181e2d23e377e82d.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_92dd9484acc147318cfa0de04084366a\.pdf$ documents/b339462e869db5d6.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_6d59698408254b89ac24acbeaa28c392\.docx$ documents/d078bc65f4389de9.docx [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_a8ede10def4c403eb37af7bb2409b4a8\.docx$ documents/72d182feb9928225.docx [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_0e82c52fe52a42fdb59a761d4e3c161c\.pptx$ documents/0a590afb8cd5fe8a.pptx [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_f3275b8a65134710bef35480e4eb2932\.pdf$ documents/dc9c868747ab527f.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_a97422666bb04537bfa291b4fcb10c92\.pdf$ documents/4f30e4819fd3b6df.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_d5f56320465a4a08a80b8ea38f554d11\.pdf$ documents/43b930461b39cc32.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_30d0273a46c7438686d6a188189b1b47\.pdf$ documents/5a54572be58d3dda.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_b5f352bb50df4d528b2ca9447161cfd9\.pdf$ documents/94765a3df2a3c7ac.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_cb0976a249d04c4b85bd21d3fc019157\.pdf$ documents/323cef210d9365c0.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_da961a617e404653bfa7900cda62ba43\.pdf$ documents/16625b18950020ed.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_bc3b5863b81c4f37ac726419618b70cc\.docx$ documents/5aa9cf916cbed885.docx [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_3e4a5ecd07ad4f1fbd6ba28977cce1d9\.pdf$ documents/7b194f5c1a6a36b7.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_0db88cdde5d942118762c5ca3f80dd3e\.pdf$ documents/50b24db3c74c00c9.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_2d9cab92794c457088e445d09051317b\.docx$ documents/13722676884ee809.docx [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_057982862085446c8d098763e7d46117\.pdf$ documents/849f775ff2682f46.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_399b16c337054f2e8536fa2e365c6a9f\.pdf$ documents/6e4fadae6826755f.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_8bc43f70a2b34391b362d2cf755ab116\.pdf$ documents/d646c0352864e618.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_97bb5c997d5e4b0a9ce7791e3380f544\.pdf$ documents/b7b495c323c0bbbf.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_5d68e04a71f047ffbe41d5595f12a8f5\.pdf$ documents/cf5340f1bc81e705.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_eae7e7de0b334b83b445b35827c54ae3\.pdf$ documents/af54354450d51768.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_0a3ba4eed13a4f9db96efa6dec0273c6\.pdf$ documents/80517fca1cd44422.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_f65b49a2cbaf45379f8e4f4c3300d9a3\.pdf$ documents/b64196f0b67e4571.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_6fa75478deff4627905a6ec5f6fc5ad8\.pdf$ documents/785d14b3e286af28.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_c763e536022846258c6df3d63c8ae4f8\.pdf$ documents/6b4946113f9e7313.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_716b4e1cec144b0c937a6357a0398a89\.pdf$ documents/6a13ca062378ba19.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_2b5b371edd9c472fbb0642b6ecdc7bdb\.docx$ documents/ef3014c0bddaf90a.docx [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_749e6810c40446b98a33d0c7214aa401\.docx$ documents/7bd0f89efbc5f3d0.docx [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_3dd47c59f92b4213a05b8d59ab0f623f\.pdf$ documents/d5f83f2a00b0b955.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_8a0df30886404db6b2ac5a47b0ced19a\.pdf$ documents/35da3393cc1da14a.pdf [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_0e82c52fe52a42fdb59a761d4e3c161c\.pptx$ documents/0a590afb8cd5fe8a.pptx [R=301,L,NE]
RewriteRule ^_files/ugd/5dee4b_9b38ecad81704c689412cddd8ff95d82\.pdf$ documents/b1c2cac57cc49c7f.pdf [R=301,L,NE]
</IfModule>
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/css application/javascript
</IfModule>
